@font-face {
  font-family: Rocks;
  src: url("assets/fonts/gomarice_rocks.woff");
}

.squareButton {
  background: transparent;
  font-family: Rocks;
  font-size: 0.5em;
  color: #cecece;
  border: 0px solid red;
  outline: 1px dashed #cecece;
  outline-width: 3px;
  overflow: hidden;
  box-shadow: 0 0.2em 1em rgb(255 255 255 / 0.5);
  -moz-outline-style: none;
  transition: all 0.2s ease-in-out;
}

.buttonText {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonText:hover {
  box-shadow: 0 0.3px 1.5em rgba(0, 255, 0, 0.8);
}
