
.rankingList{
  font-family: Rocks;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
}

.tableRow{
  display: grid;
  grid-template-columns: 1.5fr 2fr 10fr;
  width: 100%;
  align-items: center;
  justify-items: flex-end;
  padding-right: 3rem;
  padding-bottom: 1rem;
}

.tableEntry{

}

.rankingHeader{
  border-top: 2px solid white;
  padding-top: 1rem;
  border-bottom: 2px solid white;
  margin-bottom: 1rem;
}

.rankingData{
  height: 30rem;
  overflow-y: scroll;
  scrollbar-width: thin;
}