
.rankingList{
  font-family: Rocks;
  background-color: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
}

.tableRow{
  display: grid;
  grid-template-columns: 1fr 2fr 10fr;
  width: 100%;
  align-items: center;
  justify-items: flex-end;
  padding-right: 3rem;
  margin-bottom: 1.5rem;
}

.tableEntry{

}

.rankingHeader{
  border-bottom: 2px solid white;
}