.timerContainer{
    position: absolute;
    top:0.5rem;
    font-size: 1rem;
    width: 8rem;
    color: rgba(255,255,255,0.9);
}

.minutesLeft, 
.minutesRight,
.secondsLeft,
.secondsRight{
    position: absolute;
}

.minutesLeft{
    left:0.8rem;
}

.minutesRight{
    left:2.05rem;
}

.secondsLeft{
    left:4rem;
}

.secondsRight{
    left:5.25rem;
}