.arrowLeft,
.arrowRight {
  transform: rotate(180deg) ;
  padding:1.5rem;
  opacity: 0.5;
}

.arrowRight{
  transform: rotate(0deg);
}

.arrowLeft:hover, .arrowRight:hover{
  opacity: 0.9;
}

.disabledIcon{
  opacity: 0.2;
}

.disabledIcon:hover{
  opacity: 0.2;
}

.mapTitle{
  font-family: Rocks;
  font-size: 1.5rem;
  color: rgba(255,255,255,1);
  z-index: 2;
}

.mapThumbnail{
  position: absolute;
  opacity: 0.6;
  width: 100%;
}