
  
  .tabs-component [role="slicktablist"] {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.0rem;
    margin-left: 0rem;
  }
  
  .tabs-component [role="slicktablist"] button {
    border-width: 1px;
    border-style: solid;
    border-color:black;
    border-left: none;
    border-bottom: none;
    border-top-right-radius: 3rem;
    display: block;
    padding: 0rem 4rem;
    cursor: pointer;
    color:white;
    outline: none;
    background-color: transparent;
    transition: border 0.2s ease-in-out 0s;
    transition: all .2s ease-in;
  }

.slick-tab-header-tag {
    transform: none;
  }

  
  .tabs-component [role="slicktablist"] button.active,
  .tabs-component [role="slicktablist"] button:focus,
  .tabs-component [role="slicktablist"] button:hover {
    border-width: 1px;
    background-color: rgba(255,255,255,0.3);
    border-color: black;
  }
  
  .tabs-component [role="slicktablist"] button.active {
    color: white;
    background-color: #8d8c8a;
  }
  
  .tabs-component [role="slicktabpanel"] {
    text-align: left;
    background-color: transparent;
    font-size: 1rem;
    height: 24rem;
    width:100%;
    max-width: 100%;
    border:1px solid black;
    display: block;
    transform: translateY(0);
  }
  
  .tabs-component [role="slicktablist"] button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
  }

  