@import "theme/vars.css";

.backgroundContainer {
  background-image: url("assets/images/bg3.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-position: center;
  min-height: 100%;
}

.homeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  align-self: stretch;
  flex-wrap: wrap;
}

.gotchiMainContainer {
  min-width: 40%;
}

.gameConfigContainer {
  min-width: 40%;
  min-height: 100%;
  display: grid;
  justify-content: center;
}

.selectorContainer {
  display: flex;
  justify-content: center;
}

.gotchiTraitsContainer {
  display: flex;
  position: relative;
}

.gotchiContainer {
  cursor: pointer;
  width: 40%;
  position: absolute;
  padding-left: 4%;
  top: 25%;
  left: 5%;
  aspect-ratio: 1 / 1;
}

.stoneMenu {
  background-image: url("assets/icons/menu_stone2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  width: 55%;
  left: 40%;
  aspect-ratio: 277 / 364;
  position: relative;
}

.highscore {
  margin: 1.6rem auto 3.2rem;
  color: white;
}

.gotchiContainer img {
  max-height: 33rem;
  width: 100%;
  padding-top: 2rem;
}

.buttonContainer {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: 15rem 5rem;
}

.detailsPanelContainer {
  margin-top: 4rem;
}

.errorContainer {
  color: white;
  max-width: 60rem;
  margin: 5.4rem auto;
}

.errorContainer h1 {
  font-size: 5rem;
  opacity: 0.4;
}

.errorContainer p {
  font-size: 1.6rem;
  line-height: 1.5;
}
.errorContainer .secondaryErrorMessage {
  margin: 5.4rem 0 2.4rem;
}
.errorContainer button {
  margin-top: 1.6rem;
}

.modalContent h1 {
  font-size: 3.2rem;
}
.modalContent p {
  font-size: 1.4rem;
  line-height: 1.5;
}

@media only screen and (max-width: 1400px) {
  .gameConfigContainer {
    min-width: 80%;
  }

  .gameConfigContainer > div > div {
    padding: 5em;
    padding-top: 2em;
  }
}

/*
@media only screen and (min-width: 768px) {
  .homeContainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8rem;
    background-repeat: repeat-y;
    display: flex;
  }

  .detailsPanelContainer {
    margin-top: 0;
  }
} */
