@import "theme/vars.css";

.basicGrid {
  margin-top: 2rem;
  padding: 2rem 2rem 0 2rem;
  display: grid;
  gap: 1rem;
  width: 100%;
  grid-template-columns: repeat(5,minmax(100px,1fr));
  grid-auto-rows: 170px;
  grid-template-areas:
  "video  video  frens  blocks  topPlayer "
  "video  video  games  crystals  topPlayer "
  "news   news   stats  stats  topPlayer "
  "news   news   stats  stats  topPlayer ";
 }

.gridTile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.3);
  font-size: 1rem;
  color: white;
  width: 100%;
  border-radius: 4px;
  transition: all 400ms;
  overflow: hidden;
}

.gridTile:hover{
  box-shadow: rgba(2,8,20,0.1) 0px 0.35rem 1.175em, rgba(2,8,20,0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.05);
}

.video{
  grid-area: video;
}

.iframe{
 
}

.activeFrens{
  grid-area: frens
} 

.blocksMined{
  grid-area: blocks;
} 

.gamesPlayed{
  grid-area: games;
} 

.crystalsCollected{
  grid-area: crystals;
}


.topPlayers{
  grid-area:topPlayer;
}

.alphaNews{
  grid-area:news;
}

.myStaats{
  grid-area:stats;
}


@media all and (min-width: 2500px) {
  .basicGrid {
    font-size: 20px;
    grid-auto-rows: 250px;
  }
}

@media all and (max-width: 1200px) {
  .basicGrid {
    grid-template-columns: repeat(4,minmax(200px,1fr));
    grid-template-areas:
    "topPlayer topPlayer topPlayer topPlayer"
    "topPlayer topPlayer topPlayer topPlayer"
    "video  video  frens  blocks"
    "video  video  games  crystals"
    "news   news   stats  stats"
    "news   news   stats  stats";
  }
}

@media all and (max-width: 870px) {
  .basicGrid {
    grid-template-columns: repeat(2,minmax(200px,1fr));
    grid-template-areas:
    "topPlayer topPlayer"
    "topPlayer topPlayer"
    "video  video"
    "video  video"
    "frens  blocks"
    "games  crystals"
    "news   news"
    "news   news"
    "stats  stats"
    "stats  stats";
  }
}