@font-face {
  font-family: Rocks;
  src: url("assets/fonts/gomarice_rocks.woff");
}

.greenButton {
  background-image: url("assets/icons/green_button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: contain;
  font-family: Rocks;
  font-size: 1.2em;
  color: rgba(42, 42, 42);
  min-width: 8em;
  height: 2.8em;
  border: 0px solid red;
  outline: 0;
  margin: auto;
  -moz-outline-style: none;
  transition: all 0.2s ease-in-out;
}

.buttonText:hover {
  box-shadow: 0 5px 20px rgba(0, 255, 0, 0.8);
}
