@import "theme/vars.css";

@font-face {
  font-family: Rocks;
  src: url("assets/fonts/gomarice_rocks.woff");
}

.graphContainer {
  width: 90%;
  margin-left: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Rocks;
}

.gotchiName {
  color: white;
  font-size: 1.7rem;
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 2.5rem;
}

.polarChart {
  display: block;
  width: 70%;
  align-self: center;
}

.barsContainer {
  position: relative;
  width: 75%;
  align-self: center;
  margin-top:1rem;
  margin-bottom: 1.5rem;
}

.modifierRow {
  display: grid;
  grid-template-columns: 2.25fr 3fr;
}

.modifierRow p {
  font-size: 0.9rem;
  color: white;
  margin-left: 1.3rem;
  line-height: 20px;
}

.modifierMeter {
  width: 100%;
  height: 1.3rem;
  background-color: #828282;
  border: 1.5pt solid #cecece;
  position: relative;
  border-radius: 30px;
}

.labelStyles {
  margin-left: 1rem;
  color: white;
  font-weight: "bold";
}

.progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #dab863;
  border-radius: 30px;
  transition: all 400ms ease;
}
