@import "theme/vars.css";

@font-face {
  font-family: Rocks;
  src: url("assets/fonts/gomarice_rocks.woff");
}

.graphContainer {
  width: 80%;
  left: 10%;
  position: relative;
  margin-top: 2%;
  font-family: Rocks;
}

.gotchiName {
  color: white;
  font-size: 20pt;
  margin-top: 1.3em;
  display: flex;
  align-self: center;
  justify-content: center;
}

.polarChart {
  position: absolute;
  top: 0%;
  overflow-y: hidden;
}

.barsContainer {
  position: relative;
  margin-top: 14.5rem;
}

.modifierRow {
  display: grid;
  grid-template-columns: 8rem 2fr;
  margin-right: 1.5rem;
}

.modifierRow p {
  font-size: 1rem;
  color: white;
  margin-left: 2rem;
}

.modifierMeter {
  width: 100%;
  height: 1.3rem;
  background-color: #828282;
  border-color: #cecece;
  border-style: solid;
  border-width: 1.5pt;
  position: relative;
  border-radius: 30px;
}

.labelStyles {
  margin-left: 1rem;
  color: "white";
  font-weight: "bold";
  font-size: 110%;
}

.progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-pink_0);
  border-radius: 30px;
  transition: all 400ms ease;
}
