@import "theme/vars.css";

.inputContainer {
  position: relative;
  background-color: transparent;
  height: 3rem;
  width: 3rem;
  border-radius: 1rem;
  transition: all 200ms ease;
}
.inputContainer.open {
  width: 25rem;
  background-color: rgba(255, 255, 255, 0.1);
}
.inputContainer.open .sortOptions {
  padding-left: 4.4rem;
  opacity: 1;
}

.toggle {
  position: absolute;
  background-color: transparent;
  height: 3rem;
  width: 3rem;
  border-radius: 2.3rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  border: none;
  z-index: 2;

}

.sortOptions {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.6rem;
  opacity: 1;
  transition: all 400ms ease;
  background-color: rgba(255,255,255,0.1);
  border-radius: 1rem;
  overflow: hidden;
}

.option {
  display: flex;
  align-items: center;
  margin-left: 0.6rem;
  cursor: pointer;
  color: white; /* give colooor*/
}
.sortOptions p {
  margin: 0;
}

.option.active p {
}
.option.active svg {
  display: inline;
  z-index: 2;
}
.option.inactive p {
  opacity: 0.5;
  z-index: 1;
}
.option.inactive svg {
  opacity: 0;
}

.asc {
  transform: rotate(180deg);
  color: white;
}

.iconContainer{
  z-index: 3;
}
