@import "theme/vars.css";

.header {
  background-color: transparent;
  height: 7rem;
  padding-top: 0.5rem;
}

.logo {
  content: url("assets/icons/logo.svg");
  width: 15em;
  height: 5em;
}

.desktopHeaderContent {
  display: none;
}

.mobileHeaderContent {
  padding: 1.6rem;
}

.navLink {
  text-align: right;
  color: #cecece;
  font-family: Rocks;
  opacity: 60%;
  font-size: 1.9em;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding-top: 2.5rem ;
  white-space: nowrap;
  transition: 0.3s;
}

.navLink:hover {
  color: #cecece;
  font-family: Rocks;
  opacity: 90%;
  border-bottom:3px solid #cecece;
}

@font-face {
  font-family: Rocks;
  white-space: nowrap;
  src: url("assets/fonts/gomarice_rocks.woff");
}

.activeNavLink {
  text-align: right;
  color: #dddddd;
  font-family: Rocks;
  opacity: 100%;
  font-size: 1.9em;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding-top: 2.5rem ;
  cursor: default;
  transition: 0.3s;
  white-space: nowrap;
  border-bottom:3px solid white;
}

.activeNavLink:hover {
  color: #dddddd;
}

.walletContainer {
  background-image: url("assets/icons/wallet_connect2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  font-size: 1.4rem;
  font-family: Rocks;
  color: #cecece;
  display: grid;
  place-items: center;
  cursor: pointer;
  min-width: 20rem;
  min-height: 8rem;
  margin-right: 10%;
  border: 0px solid red;
}
/*
.walletContainer:hover {
  background-image: url("assets/icons/wallet_connect2_hover.svg");
  transition: all 500ms ease;
  opacity: 100%;
}
*/
.walletContainer:disabled {
  cursor: auto;
}

.walletAddress {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.walletAddress p {
  margin: 0 0 0 1.2rem;
}

.connectedDetails {
  margin-left: 1.6rem;
  color: #424241;
}
.connectedDetails p {
  font-size: 1.2rem;
  text-align: right;
  margin: 0;
  line-height: 1.4;
  color: #424241;
}

.playButtonContainer{
  justify-self: center;
}

@media only screen and (min-width: 768px) {
  .desktopHeaderContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobileHeaderContent {
    display: none;
  }

  .navContainer {
    display: flex;
    margin: 0;
    padding: 0;
  }
  .navContainer > * + * {
    margin-left: 3.2rem;
  }

  .navLink {
    text-align: left;
  }

  .walletContainer {
    margin-top: 0;
    margin-left: 0;
  }
}


