@import "theme/vars.css";

@font-face {
  font-family: Rocks;
  src: url("assets/fonts/gomarice_rocks.woff");
}

.mainContainer {
  color: white;
  font-family: Rocks;
  display: flex;
  justify-content: space-around;
  height: 100%;
  flex-direction: column;
  align-items: stretch;
}

.mainContainer > * {
  font-size: 1vw;
}

.createGameRock {
  background-image: url("assets/icons/rock_creategame.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 50%;
  display: flex;
  justify-content: center;
}

.joinGameRock {
  background-image: url("assets/icons/rock_joingame.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 40%;
  display: flex;
  justify-content: center;
}

.stoneTitles {
  font-size: 20pt;
  display: flex;
  justify-content: center;
}

.createGameText {
  width: 40%;
  margin-top: 1.5rem;
  margin-left: 2em;
}

.createGameBottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: fit-content;
}

.btn-primary {
  height: 4rem;
}

.joinGameText {
  width: 40%;
  margin-top: 7%;
  margin-left: 5%;
}

.joinButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
