@import "theme/vars.css";

@font-face {
  font-family: Rocks;
  src: url("assets/fonts/gomarice_rocks.woff");
}

.mainContainer {
  color: white;
  font-family: Rocks;
  display: flex;
  justify-content: space-around;
  height: 100%;
  flex-direction: column;
  align-items: stretch;
  border: 0px solid greenyellow;
}

.mainContainer > * {
  font-size: 1vw;
}

.createGameRock {
  background-image: url("assets/icons/rock_creategame3.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 55%;
  display: flex;
  justify-content: center;
  padding-top: 2em;
  border: 0px solid red;
}

.joinGameRock {
  background-image: url("assets/icons/rock_joingame2.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 40%;
  display: flex;
  justify-content: center;
  border: 0px solid green;
}

.stoneTitles {
  font-size: 20pt;
  display: flex;
  justify-content: center;
}

.createGameText {
  width: 40%;
  margin-top: 1.5rem;
  margin-left: 1em;
}

.createGameBottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: fit-content;
}

.btn-primary {
  height: 4rem;
}

.joinGameText {
  width: 40%;
  margin-top: 5%;
  margin-left: 2%;
}

.joinButtonContainer {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  justify-content: space-between;
  border: 0px solid magenta;
}

.customSelect {
  background-color: #515151;
  font-size: 0.8em;
  color: white;
  border: none;
}

.roomLabel {
  background-color: #515151;
  font-size: 0.8em;
  color: white;
  border: none;
}

.fuelGauge {
  position: relative;
  border: 1px solid magenta;
}

.fuelBarContainer {
  overflow: hidden;
  width: 120px;
  position: absolute;
  top: 80%;
  right: 80%;
}

.fuelBar {
  background: url("assets/hud/fuel_bar.svg") repeat-x;
  height: 17px;
  width: 1576px;
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1300px, 0, 0);
  }
}
