@import "theme/vars.css";

@font-face {
  font-family: Rocks;
  src: url("assets/fonts/gomarice_rocks.woff");
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
  font-family: Rocks;
}

.createGameRock {
  background-image: url("assets/icons/rock_creategame.svg");
  background-repeat: no-repeat;
  min-height: 400px;
  min-width: 600px;
  margin-bottom: 2rem;
}

.stoneTitles {
  font-size: 20pt;
  display: flex;
  justify-content: center;
}

.createGameText {
  width: 50%;
  margin-top: 1.5rem;
  margin-left: 10rem;
}

.joinGameRock {
  background-image: url("assets/icons/rock_joingame.svg");
  background-repeat: no-repeat;
  min-height: 300px;
  min-width: 600px;
}

.joinGameText {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-left: 10rem;
}
