@import "theme/vars.css";


.leaderboardContainer{
  padding:2rem 5rem 2rem 5rem;
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit,minmax(45rem,0.5fr));
  justify-content: center;
}

.gotchiPodiumContainer{
  display: grid;
  justify-content: center;
  z-index: 3;
}

.podiumContent{
  position:relative;
}

.tableContainer{
  height: 100%;
  display: grid;
  justify-content: center;
  position: relative;
}

.tableBackground{
  margin:11% 3rem 0rem 3rem;
  position: absolute;
  width: 90%;
  z-index: 0;
  background-color: rgba(0,0,0,0.3);  
}

.leaderboardFooter{
  width: 100%;
  margin-top:auto;
  z-index: 1;
  pointer-events: none;
}

.gotchiRank1{
  position: absolute;
  height: 12rem;
  left: 17.5rem;
  bottom: 20.5rem;
  z-index: 100;
}

.podiumText{
  position: absolute;
  color: #4f4f4fff;
  font-family: Rocks;
  display: flex;
  flex-direction: column;
}

.rank1Text{
  left: 51.5%;
  bottom: 13rem;
  font-size: 1.5rem;
  align-items: center;
  transform: translate(-50%,0%);
  z-index: 100;
}

.gotchiRank2{
  position: absolute;
  height: 11rem;
  left: 4.5rem;
  bottom: 18rem;
  z-index: 100;
}

.rank2Text{
  left: 6.5rem;
  bottom: 15rem;
  z-index: 100;
}

.gotchiRank3{
  position: absolute;
  height: 10rem;
  left: 31rem;
  bottom: 16.5rem;
  z-index: 100;
}

.rank3Text{
  left: 34rem;
  bottom: 14rem;
  font-size: 0.9rem;
  z-index: 100;
}

.gotchiPodium{
  width: 45rem;
}

.leaderboardHeader{
  width: 100%;
  position: absolute;
  pointer-events: none;
  z-index: 1;
}

.leaderboardTableContainer{

}

.tableToolbar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.8fr;
  justify-items: center;
  padding-top: 1rem;
  padding-left: 1rem;
}

.selectDropdown{
  background-color: rgba(0.3,0.3,0.3,0.3);
  color:white;
  border:none;
  height: 2rem;
  width: 11rem;
  align-self: space-around;
  text-align: left;
  margin-bottom: 0.5rem;
}

.leaderboardTag{
  color: white;
  text-align: left;
  font-family: Rocks;
}
