@import "theme/vars.css";

.backgroundContainer {
  background-image: url("assets/images/bg3.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-position: center;
  height: 100%;
}

p {
  color:white;
  display: grid;
  justify-content: center;
}

.leaderboardContainer{
  width: 100%;
  height: 100%;;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y:hidden
}

.gotchiPodiumContainer{
 position: relative;
}

.gotchiRank1{
  position: absolute;
  height: 8.5rem;
  left: 47.5%;
  top: 2%;
}

.gotchiRank2{
  position: absolute;
  height: 8rem;
  left: 18%;
  top:18%;
}

.gotchiRank3{
  position: absolute;
  height: 8rem;
  left: 77%;
  top: 27%;
}

.gotchiPodium{
  margin-top: 5rem;
  height: 16rem;
}

.leaderboardFooter{
  position:absolute;
  bottom: 0;
  height: 6rem;
}