@import "theme/vars.css";

.basicGrid {
  margin-top: 2rem;
  padding: 2rem 2rem 0 2rem;
  display: grid;
  gap: 1rem;
  width: 100%;
  grid-template-columns: repeat(2,minmax(100px,1fr));
  grid-auto-rows: 430px 280px;
  grid-template-areas:
  "rank   myStats  "
  "depth  depth  ";
 }

.roomRanking{
  grid-area: rank;
}

.myStats{
  grid-area: myStats;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.depthHistory{
  grid-area: depth;
}

.rankingPanel{
  display: grid;
  height: 100%;
  padding-top: 1rem;
  gap: 1rem;
  grid-template-columns: repeat(2,minmax(100px,1fr));
  align-items: flex-start;
  overflow: hidden;
}

.gotchiContainer{
  align-self: flex-end;
  height: auto;
  max-width: 70%;
  width: auto;
  z-index: 10;
}

.cup{
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  height: 85%;
  z-index: 1;
}

.textShine{
    font-size: 3rem;
    font-family: Rocks;
    background: linear-gradient(to right, #757575 0, white 10%, #757575 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
}

@keyframes shine{
  0% { background-position: 3rem }
  50% { background-position: 9rem }
  100% { background-position: 18rem}
}