@font-face {
  font-family: Rocks;
  src: url("assets/fonts/gomarice_rocks.woff");
}

@font-face {
  font-family: Pixelar;
  src: url("assets/fonts/pixelar_regular.woff2");
}


@font-face {
  font-family: MSDOS;
  src: url("assets/fonts/Perfect_DOS_VGA_437.ttf");
}


.shopContainer{
  background-image: url('assets/hud/shop_hud2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 60%;
  height: 78%;
  left: 50%;
  transform: translate(-50%, 0%);
  overflow: hidden;
  z-index: 10;
}

.displayOn{
  top: 0rem;
  transition: all 400ms ease;
}

.displayOff{
  top: -50rem;
  transition: all 400ms ease;
}

.shopTabs{
  width: 68%;
  margin-top: 24%;
  margin-left: 17%;
  font-size: 2em;
  height: 26rem;
  display: flex;
  color: white;
  position: static;
}

.contentContainer{
  display:flex;
}

.galleryPanel {
  height: 22rem;
  width: 70%;
  scrollbar-width: thin;
  scrollbar-color: #6db9aeff #a4ffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: auto;
  white-space: nowrap;
}

.itemContainer {
  display: flex;
  font-size: 0.9em;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2rem;
}

.itemImage {
  height: auto;
  width: 4rem;
  opacity: 0.9;
}

.itemText {
  width: 80%;
  border-bottom: 3px solid #a4ffff;
}

.buyButton{
  margin-top: 0.5rem;
  background-color: #a4ffff;
  width: 80%;
}

.detailsPanel{
  width: 30%;
  padding-left: 1rem;
  border-left:1px solid #a4ffff;
}