@font-face {
  font-family: Rocks;
  src: url("assets/fonts/gomarice_rocks.woff");
}

@font-face {
  font-family: Pixelar;
  src: url("assets/fonts/pixelar_regular.woff2");
}


@font-face {
  font-family: MSDOS;
  src: url("assets/fonts/Perfect_DOS_VGA_437.ttf");
}


.shopContainer{
  background-image: url('assets/hud/shop_hud2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 70rem;
  height: 47rem;
  left: 50%;
  transform: translate(-50%, 0%);
  overflow: hidden;
  z-index: 10;
}

.screenContainer{
  position:relative;
  width: 68%;
  margin-top: 22%;
  height: 28rem;
  margin-left: 16%;
}

.closeButton{
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  right: 0.5rem;
  top: 0.5rem;
  color:#a4ffff;
  outline: 0;
  margin: auto;
  -moz-outline-style: none;
  box-shadow: 0;
  position: absolute;
  border: 1px solid #a4ffff;
  -webkit-transition : box-shadow ease-in .3s;
  transition : box-shadow ease-in .3s;
}

.closeButton:hover {
  border-width: 1px;
    background-color: rgba(0,255,255,0.3);
    border-color: #a4ffff;
  -webkit-transition : box-shadow ease-in .3s;
  transition : box-shadow ease-in .3s;
}

.displayOn{
  top: 0rem;
  transition: all 400ms ease;
}

.displayOff{
  top: -100rem;
  transition: all 400ms ease;
}

.shopTabs{
  padding-top: 2rem;
  font-size: 2em;
  display: flex;
  color: white;
  position: static;
}

.contentContainer{
  display:flex;
}

.galleryPanel {
  height: 22rem;
  width: 70%;
  scrollbar-width: thin;
  scrollbar-color: #6db9aeff #a4ffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: auto;
  white-space: nowrap;
  position:relative;
}
 
.itemContainer {
  display: flex;
  font-size: 0.9em;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2rem;
  cursor: pointer; 
}

.itemImage {
  height: auto;
  width: 4rem;
  opacity: 0.9;
}

.itemText {
  width: 80%;
  border-bottom: 3px solid #a4ffff;
}

.buyButton{
  margin-top: 0.5rem;
  background-color: #a4ffff;
  width: 80%;
}

.detailsPanel{
  width: 30%;
  padding-left: 1rem;
  border-left:1px solid #a4ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.drillIcon{
  opacity: 50%;
  position: absolute;
  left:40%;
  height: 15rem;
  margin-top:4rem;
  transform: rotate(-30deg);
}

.detailsTitle{
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.detailsBody{
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.detailsTitle > img {
  height: 4rem;
  width: auto;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}

.amountContainer{
  width:100%;
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.buyManyButton{
  width: 40%;
  margin-top: 0.5rem;
  background-color: #a4ffff;
}

.inputQuantity{
  width: 40%;
  text-align: center;
}

.explosivePattern{
  display: flex;
  padding: 0rem;
  width: 100%;
  flex-wrap: wrap;
  gap:0.2rem;
}

.patternElement{
  width: 0.9rem;
  height: 0.9rem;
  opacity: 10%;
  background-color: #a4ffff;
}

.explosionElement{
  opacity: 50%;
  background-color: red;
}

.detonationElement{
  background-color: red;
  opacity: 0.9;
}

.totalPrice{
  padding-top: 0.5rem;
  font-size: 1.2rem;
}
