  .dialogContainer{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    align-items: center;
    background-color: rgba(0,0,0,0);
    color:white;
    font-size: 2rem;
    border-radius: 4px;
    gap: 2rem;
    animation: popup 1.5s ease-in-out;
  }

  .minedCryptoContainer{
    background-color: rgba(0,0,0,0.3); 
    display: flex;
    flex-direction: row;
    gap:0.5rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 20px;
    justify-content: space-around;
  }

  .crystalContainer{
    border-radius: 2rem;
    padding: 0rem 1rem 0rem 1rem;
    background-color: rgba(0,0,0,0.4);
    font-size: 0.8rem;
  }

  .rollingCounterContainer{
    height: 3rem;
    overflow: hidden;
  }

  .rollingWrapper{
    position: relative;
    top: -3rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    animation: rollingNumbers 1.5s ease;
  }

  .show{
    /*opacity: 1;*/
  }

  .hide{
    display: none;
  }

  .crystalPreview{
    padding: 0.1rem;
    height: 3rem;
    animation: pulse 1s ease;
  }

  @keyframes popup {
    0% { 
      opacity: 1; 
    }
    80% {   
      opacity: 1;
      transform: translate(-50%, -50%); 
    }
    100% { 
      opacity: 0; 
      transform: translate(-50%, 0%);}
  }

  @keyframes pulse {
    0%,100% { transform: scale(.7); }
    25%,80% { transform: scale(1); }
  }

  @keyframes rollingNumbers {
    0% {
      top: 0rem;  
    }
    25%,100% { 
      top: -3rem; 
    } 
  }