@font-face {
  font-family: Rocks;
  src: url("assets/fonts/gomarice_rocks.woff");
}

@font-face {
  font-family: Pixelar;
  src: url("assets/fonts/pixelar_regular.woff2");
}

@font-face {
  font-family: MSDOS;
  src: url("assets/fonts/Perfect_DOS_VGA_437.ttf");
}

body {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.loadingScene {
  justify-content: center;
  align-items: center;
  background: #000;
  display: flex;
  height: 100%;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
}

.progressBar {
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 500px;
}

.progressValue {
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1.5s, opacity 1.5s linear;
}

.reveal {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.hudContainer {
  position: absolute;
  font-family: Pixelar;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.vitalsConsole {
  width: 30rem;
  height: 15rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  background-image: url("assets/hud/vitals_console_rear.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  filter: drop-shadow(10px 10px 2px rgba(0, 0, 0, 0.4));
}

.vitalsBarsCovers {
  background-image: url("assets/hud/vitals_console_front.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
  margin-top: 0;
}

.fuelBar,
.healthBar,
.cargoBar {
  position: absolute;
  z-index: 1;
  height: 1rem;
  width: 14rem;
  left: 14.8rem;
  overflow: hidden;
}

.fuelBar {
  top: 2.6rem;
}

.lowFuelBar{
  color: red;
}

.lowFuelIndicator {
  position: absolute;
  top: 2.5rem;
  left: 11.8rem;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  z-index: 100;
  background-color: rgba(255, 0, 0, 0.3);
  box-shadow: 0px 0px 1.5rem 0px red;
  animation-name: lowFuelAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes lowFuelAnimation {
  0%   {background-color:rgba(255, 0, 0, 0.1)}
  50%  {background-color:rgba(255, 0, 0, 0.3)}
  100% {background-color:rgba(255, 0, 0, 0.1)}
}

.healthBar {
  top: 5.4rem;
}

.cargoBar {
  top: 8rem;
}

.vitalBar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.depthTag {
  font-size: 1.5rem;
  color: white;
  width: 5rem;
  left: 1.5rem;
  line-height: 1.7rem;
  text-align: center;
  top: 0.7rem;
  position: absolute;
  opacity: 1;
  z-index: 2;
  text-shadow: 0 0 2px #cecece55, 0 0 5px #cecece55, 0 0 9px #cecece55,
    0 0 24px #00ffaa75, 0 0 35px #00ffaa75, 0 0 45px #00ffaa75,
    0 0 60px #00ffaa75, 0 0 70px #00ffaa75;
}

.mainConsole {
  position: absolute;
  width: 100rem;
  left: 50%;
  bottom: -36rem;
  transform: translate(-50%, 0);
  margin-top: 10rem;
  overflow: hidden;
  z-index: 10;
  filter: drop-shadow(10px 10px 2px rgba(0, 0, 0, 0.4));
}

.mainConsoleDown {
  bottom: -35.5rem;
  transition: all 400ms ease;
}

.mainConsoleUp {
  bottom: 0rem;
  transition: all 400ms ease;
}

.mainConsoleImg {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 0;
}

.overlay {
  position: absolute;
  background-color: #008cba;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.playerButtons {
  grid-area: playerButtons;
  align-items: flex-end;
  justify-self: center;
  display: flex;
  width: 100%;
  padding-bottom: 7.8%;
  padding-right: 16.2%;
  padding-left: 8.2%;
  justify-content: space-evenly;
}

.expandButton {
  position: absolute;
  right: 24.8%;
}

.expandIconUp {
  transition: all 400ms ease;
}

.expandIconDown {
  transform: rotate(180deg);
  transition: all 400ms ease;
}

.toolIcon {
  width: 80%;
}

.sectionTitle {
  font-size: 2rem;
}

.consumablesContainer {
  grid-area: consumables;
  margin-left: 5rem;
}

.consumableItems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1.5rem;
  column-gap: 4rem;
  margin-top: 0.5rem;
  margin-right: 2.5rem;
}

.artifactsContainer {
  grid-area: artifacts;
  margin-left: 5rem;
  margin-top: 1.5rem;
}

.artifactItems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4rem;
  margin-top: 0.5rem;
  margin-right: 2.5rem;
  padding-bottom: 1rem;
}

.cryptoContainer {
  grid-area: crypto;
  margin-right: 4rem;
  position: relative;
  border-left: 1px solid #cecece;
  padding-left: 1rem;
  margin-bottom: 1.5rem;
}

.cargoIcon {
  position: absolute;
  width: 2em;
  left: 19%;
  top: 2%;
}

.iconSelected {
  opacity: 1;
  transition: all 500ms ease-in-out;
}

.iconDeselected {
  opacity: 0.4;
  transition: all 500ms ease-in-out;
}

.cryptoGallery {
  margin-top: 1.4rem;
  height: 70%;
  width: 100%;
  border: 1px solid #ccfffeff;
  scrollbar-width: thin;
  scrollbar-color: #6db9aeff #ccfffeff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: auto;
  white-space: nowrap;
  box-shadow: 0 0 1em #00ffaa75;
}

.crystalContainer {
  display: flex;
  font-size: 0.75em;
  align-items: center;
}

.crystalIcon {
  height: 3rem;
  width: 3rem;
  opacity: 0.9;
  margin-left: 0.5rem;
}

.itemDisabled {
  filter: grayscale(1);
  opacity: 0.3;
  transition: all 400ms ease-in-out;
}

.itemEnabled {
  transition: all 300ms ease;
}

.crystalTag {
  margin-left: 0.8rem;
}

.inventoryConsumable > img {
  height: 1.5rem;
}

.playerMenuBarContainer{
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 25rem;
  height: 4rem;
  background-color: rgba(0.3,0.3,0.3,0.5);
  border-bottom-left-radius: 4px;
}

.playerMenuBar{
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.mainPlayerBalance{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  min-width: 8rem;
  height: 3.5rem;
  color:#a4ffff;
  font-size: 1.5rem;
  box-shadow: 0;
}

.ggemsIcon{
  height: 2rem;
  padding-right: 1rem;
}

.walletIcon {
  margin: 1rem;
  height: 2.5rem;
}

.menuButton{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Pixelar;
  font-size: 1.5rem;
  height: 3rem;
  width: 6rem;
  background-color: rgba(0.3,0.3,0.3,0.5);
  border-radius: 4px;
}

.gameVignette{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  transition: all 2s ease-in-out;
}

.underground{
  background: radial-gradient( circle, transparent 30%, black 150%), transparent;
  opacity: 1;
}

.aboveground{
  background: radial-gradient( circle, transparent 30%, black 150%), transparent;
  opacity: 0;
}

.fullScreenMenu{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  top:0;
  z-index: 101;
  background-color: rgba(0,0,0,0.7);
}

.menuDialogContainer{
  position: relative;
  height: 30rem;
  width: 20rem;
  color: white;
  z-index: 102;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: space-around;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.7);
}


.closeButton{
  position: absolute;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  right: 0.5rem;
  top: 0.4rem;
  color:rgba(255,255,255,0.8);
  outline: 0;
  margin: auto;
  box-shadow: 0;
  border: 1px solid rgba(255,255,255,0.5);
  -webkit-transition : box-shadow ease-in .3s;
  transition : box-shadow ease-in .3s;
}

.closeButton:hover {
  border: 1px solid white;
  color: white;
  background-color: rgba(255,255,255,0.5);
  -webkit-transition : box-shadow ease-in .3s;
  transition : box-shadow ease-in .3s;
}

.volumeSlider{
  width: 10rem;
}

.menuEntryTitle{
  font-size: 1.5rem;
}

.leaveButton{
  background-color: rgba(255,0,0,0.5);
  outline: 0;
  width: 10rem;
  height: 3rem;
  color:white;
  font-size: 1.5rem;
  border-radius: 4px;

}

.leaveButton:hover {
  background-color: rgba(255,0,0,0.8);
}

.marquee{
  background-color: transparent;
}

.songTitle{
  margin-left: 0.5rem;
}