@import "theme/vars.css";

.basicGrid {
  margin-top: 2rem;
  padding: 2rem 2rem 0 2rem;
  display: grid;
  gap: 1rem;
  width: 100%;
  grid-template-columns: minmax(30rem,4fr) minmax(20rem,3fr) minmax(25rem,3fr);
  grid-auto-rows: 230px;
  grid-template-areas:
  "welcome controls flow"
  "traits  controls flow"
  "vitals  console  flow";
 }

.gridTile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.3);
  font-size: 1rem;
  padding: 1rem;
  color: white;
  border-radius: 4px;
  transition: all 400ms;
}

.gridTile:hover{
  box-shadow: rgba(2,8,20,0.1) 0px 0.35rem 1.175em, rgba(2,8,20,0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.05);
}

.welcomeTile{
  grid-area: welcome;
} 

.controlsTile{
  grid-area: controls;
  gap: 2rem;
} 

.gameflowTile{
  grid-area: flow;
  
} 

.traitsTile{
  grid-area: traits;
} 

.vitalsTile{
  grid-area: vitals;
} 

.consoleTile{
  grid-area: console;
} 

.flowImage{
  padding: 0.5rem 0rem;
  width: 24rem;
}

.singleKey{
  height: 2.5rem;
}

.wasdKeys{
  height: 5rem;
}

.controlKeyContainer{
  display: flex;
  width: 100%;
  flex-direction: row;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  justify-content: space-around;
}