@import "theme/vars.css";

h3{
  padding-bottom: 0.5rem;
}

.basicGrid {
  margin-top: 2rem;
  padding: 2rem 2rem 0 2rem;
  display: grid;
  gap: 1rem;
  width: 100%;
  grid-template-columns: minmax(30rem,4fr) minmax(20rem,3fr) minmax(25rem,3fr);
  grid-auto-rows: 15rem; /*240px;*/
  grid-template-areas:
  "welcome controls flow"
  "traits  controls flow"
  "vitals  console  flow";
 }

.gridTile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0,0,0,0.3);
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  color: white;
  border-radius: 4px;
}

.gridTile:hover{
  box-shadow: rgba(2,8,20,0.1) 0px 0.35rem 1.175em, rgba(2,8,20,0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.05);
}

.tileTitle{
  font-size: 1.4rem;
}

.tileContent{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.welcomeTile{
  grid-area: welcome;
} 

.controlsTile{
  grid-area: controls;
  gap: 2rem;
} 

.gameflowTile{
  grid-area: flow;
  
} 

.traitsTile{
  grid-area: traits;
} 

.vitalsTile{
  grid-area: vitals;
} 

.consoleTile{
  grid-area: console;
} 

.flowImage{
  padding: 0.5rem 0rem;
  width: 22rem;
  align-self: center;
}

.controlKeyContainer{
  display: grid;
  width: 100%;
  flex-direction: row;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  justify-content: center;
}

.controlKeyContainer>*{
  width: 100%;
}

.traitIcon{
  height: 2rem;
  padding-right: 1rem;
}

.traitList{
  margin-top: 0.3rem;
  display: grid;
  gap: 0.3rem;
}

.traitElement{
  display: flex;
  flex-direction: row;
}


@media all and (max-width: 1200px) {
  .basicGrid {
    grid-template-columns: minmax(30rem,4fr) minmax(20rem,3fr);
    grid-auto-rows: 240px;
    grid-template-areas:
    "welcome controls"
    "traits  controls"
    "vitals  console"
    "flow flow"
    "flow flow"
    "flow flow";
  }

  .flowTitle{
    align-self: center;
  }
}


@media all and (max-width: 870px) {
  .basicGrid {
    grid-template-columns: minmax(30rem,1fr);
    grid-template-areas:
    "welcome"
    "traits"
    "controls"
    "controls"
    "console"
    "vitals"
    "flow"
    "flow"
    "flow";
  }
}